/* 5. Banner */
.banner-area {
    padding: 350px 0 350px;
    background-color: $placeholder;
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @include tablet(){
        padding: 280px 0;
    }
    @include landscape-phone(){
        padding: 250px 0;
    }
    @include portrait-phone(){
        padding: 200px 0;
    }
    a {
        color: $light!important;
    }
	span {
		&.h-light {
			color: #fed267;
		}
	}
    .about-content{
        .lnr{
            margin: 0px 10px;
            font-weight: 600;
            color: $light!important;

        }
    }
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .overlay-bg {
        opacity: .9;
        background-color: rgba(0, 0, 0, 0.65);
    }

}
