/* 6. Feature */
.single-feature {
    background: $dark;
    border-radius:6px;
    transition:.5s;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    img{
        margin-bottom: 40px;
    }
    &:hover {
        background: $light;
        box-shadow:0 5px 20px $shadow;
    }
}
.divider {
    width: 50px;
    height: 3px;
    padding: 0;
    margin: 5px auto;
    background-image: linear-gradient(to right,#fed267 20%,#cf9b48 80%);
    background-repeat: repeat-x;
    border: none;
}
.other-feature-area,
.blog-post-area {
	.section-title {
		p {
			max-width: 300px;
		}
	}
}
.other-feature-area {
    padding-top: 100px;
    padding-bottom: 100px;
	@media (max-width: 991px) {
		padding-top: 40px;
    }
	.mt--160,
	.mt--260 {
		@media (max-width: 991px) {
			margin-top: 0;
		}
	}
}
.other-feature-item {
	padding: 50px 40px;
	background: #f2f3f7;
    margin-bottom: 30px;	
    @include transition();
    @media (max-width: 1024px) {
		padding: 50px 30px;
	}
	i {
        font-size: 36px;
        color: $primary-color;
		@include transition();
    }
	h4 {
		margin-top: 30px;
		font-size: 18px;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 0px;
	}
	&:hover {
		background: $light;
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
		i {
			color: $primary-color;
		}
    }
    .section-title {
        padding-bottom: 75px;
    }
}

.section-title {
    padding-bottom: 75px;
    h2 {
        color: #222;
        margin-bottom: 20px;
        @media (max-width: 768px) {
			font-size: 30px !important;
			margin-bottom: 15px;
		}
    }
    p {
        margin-bottom: 0;
        max-width: 620px;
    }

}
.mt--260 {
    margin-top: -260px;
}
.mt--160 {
    margin-top: -160px;
}
/* Start Blog Area css
============================================================================================ */

.home-blog-area {
	padding-bottom: 90px;
	@media (max-width: 1199px) {
		padding-bottom: 50px;
	}
}

.single-blog {
	border: 1px solid #eeeeee;
	padding: 20px;
	margin-bottom: 30px;
	@include transition();
	.blog-thumb {
		position: relative;
		overflow: hidden;
	}
	.blog-details {
		padding: 25px 0px;
		p {
			margin-bottom: 0;
		}
		.blog-meta {
			p {
				font-size: 13px;
				margin-right: 20px;
				a {
					color: #222;
				}
			}
			span {
				padding-right: 5px;
			}
		}
		h5 {
			margin: 15px 0px;
			a {
				color: #222;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
				@include transition();
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	&:hover {
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	}
}
