/* 13. Footer */
.footer-area {
    color: $light;
    background: $footer;
    .form-control{
		background-color: transparent;
	}
    h3 {
        color: $light;
    }
    a {
        color: $light;
        text-transform: capitalize;
        transition:.3s;
        &:hover {
            color: $primary-color;
        }
    }
    // input {
    //     display: inline-block;
    //     margin: auto;
    //     width: 250px;
    //     border: none;
    //     border-radius:3px;
    //     padding: 10px 20px;
    //     @include landscape-phone() {
    //         width: 250px;
    //     }
    //     @include portrait-phone() {
    //         width: 100%;
    //     }
    // }
    input {
        height: 40px;
        border: none;
        width: 67% !important;
        font-weight: 400;
        padding-left: 20px;
        border-radius: 0;
        font-size: 13px;
        color: #999999;
        border: 0px solid transparent;
        font-family: $body-font;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .input-group{
		border: 1px solid #45556a;
		padding: 5px;
    }
    
    .btn{
		background-color: #fed267;
		color: #fff;
		width: 49px;
		border-radius: 0px;
		height: 40px;
	}
    .template-btn {
        margin-left: 10px;
        border: none;
        @include portrait-phone() {
            margin-left: 0;
            margin-top: 30px;
        }
    }
    
    img {
        width: 55px;
        height: 55px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .footer_icon {
        ul li i{
            margin-right: 15px;   
        }
    }

}
.footer-copyright {
    margin-top: 70px;
    .color {
        color: $primary-color;
    }
    ul {
        float: right;
        @include landscape-phone() {
            float: left;
            margin-top: 30px;
        }
        @include portrait-phone() {
            float: left;
            margin-top: 30px;
        }
        li {
            display: inline;
            margin-left: 10px;
            i {
                display: inline-block;
                padding: 10px;
                color: $body-text;
                background: $light;
                height: 40px;
                width:40px;
                text-align: center;
                line-height: 20px;
                transition:all .3s ease-in-out;
                &:hover {
                    color: $light;
                    background: $gradient;
                }
            }
        }
    }
}