@mixin transition($args: all 0.3s ease 0s) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

// Responsive Breakpoint
@mixin portrait-phone() {
    @media (max-width: 575.98px) {
        @content;
    }
}
@mixin landscape-phone() {
    @media (min-width: 576px) and (max-width: 767.98px) {
        @content;
    }
}
@mixin tablet() {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}
@mixin desktop() {
    @media (min-width: 992px) and (max-width: 1199.98px) {
        @content;
    }
}
@mixin desktop-large() {
    @media (min-width: 1200px) and (max-width: 1440px) {
        @content;
    }
}
@mixin keyframes ($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1600px) and (max-width: 1920px)';
